{%extends 'LoggedinBase.html'%} {% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Home {% endblock %}</title>
</head>

<body>
    <form>
        <div>
        <img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/mail-letter-offer-256.png" alt="icon">
         </div>
        <textarea placeholder="Subject (required)" required></textarea>
        <input type="submit" value="INPUT">
      </form>
</body>

</html>